.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.cap {
  text-transform: capitalize;
}

.lower-case {
  text-transform: lowercase;
}

.info-font {
  font-family: 'Merriweather', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.section-font {
  font-family: 'MedievalSharp', Arial, Helvetica, sans-serif;
  font-size: 34px;
}

.property-bold {
  font-family: 'Merriweather', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.select {
  padding: 6px 10px 9px 10px;
  border-radius: 4%;
  font-size: 16px;
  font-weight: 400;
  color: $gray;
  background-color: $white;
  border: 1px solid $gray;
  appearance: none;
  background-image: url("../images/down-arrow.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 90%;
}

.loading {
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .loading-img {
    margin-top: 55px;
    margin-bottom: 35px;
    height: 200px;
    width: 200px;
    animation: spin 2s infinite linear;
  }

  .text {
    font-family: 'MedievalSharp', Arial, Helvetica, sans-serif;
    font-size: 40px;
  }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
