.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.cap {
  text-transform: capitalize;
}

.lower-case {
  text-transform: lowercase;
}

.info-font {
  font-family: 'Merriweather', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.section-font {
  font-family: 'MedievalSharp', Arial, Helvetica, sans-serif;
  font-size: 34px;
}

.property-bold {
  font-family: 'Merriweather', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
}
