.w-100 {
  width: 100%;
}

.d-flex {
  display: -webkit-box;
  display: flex;
}

.cap {
  text-transform: capitalize;
}

.lower-case {
  text-transform: lowercase;
}

.info-font,
.monster-container .sec-info,
.monster-container .section {
  font-family: 'Merriweather', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.section-font,
.monster-container .section .section-name {
  font-family: 'MedievalSharp', Arial, Helvetica, sans-serif;
  font-size: 34px;
}

.property-bold,
.monster-container .main-info .lg-item .property,
.monster-container .main-info .sm-item .stat .prop,
.monster-container .sec-info .sec-property {
  font-family: 'Merriweather', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.select {
  padding: 6px 10px 9px 10px;
  border-radius: 4%;
  font-size: 16px;
  font-weight: 400;
  color: #a09c9c;
  background-color: #f7f2f2;
  border: 1px solid #a09c9c;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../images/down-arrow.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 90%;
}

.loading {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.loading .loading-img {
  margin-top: 55px;
  margin-bottom: 35px;
  height: 200px;
  width: 200px;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

.loading .text {
  font-family: 'MedievalSharp', Arial, Helvetica, sans-serif;
  font-size: 40px;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.monster-container {
  padding: 35px 60px;
  background-color: #f7f2f2;
  min-height: 100vh;
}

.monster-container .main-info {
  margin-bottom: 40px;
}

.monster-container .main-info .lg-item {
  width: 55%;
}

.monster-container .main-info .lg-item .name,
.monster-container .main-info .lg-item .specs {
  margin-bottom: 20px;
  font-family: 'Merriweather', Arial, Helvetica, sans-serif;
}

.monster-container .main-info .lg-item .name {
  font-size: 32px;
  font-weight: 700;
  color: #d60202;
}

.monster-container .main-info .lg-item .specs {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}

.monster-container .main-info .lg-item .property {
  line-height: 25px;
}

.monster-container .main-info .sm-item {
  width: 45%;
  padding: 0 2% 0 2%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.monster-container .main-info .sm-item .stat {
  width: 50%;
  height: 26%;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.monster-container .main-info .sm-item .stat .prop {
  margin-right: 3px;
}

.monster-container .sec-info {
  margin-bottom: 35px;
}

.monster-container .sec-info .sec-property {
  line-height: 28px;
}

.monster-container .section {
  margin-bottom: 33px;
}

.monster-container .section .section-name {
  margin-bottom: 20px;
}

.monster-container .section .section-info {
  line-height: 23px;
  margin-bottom: 8px;
}
